@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #06121e;
  font-family: poppins;
  color: white;
}

input {
  width: -webkit-fill-available;
}

.background1::before {
  position: absolute;
  content: '';
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(2, 13, 24, 0.75);
}

::-webkit-scrollbar {
  display: none;
}

.trailerbg {
  background-color: rgba(10, 10, 10, 0.86);
}

.trailerImg:hover button {
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  .nav::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: red;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s;
  }

  .nav:hover::before {
    transform: scale(1);
  }
}
